:root {
    --text-color: #FFFEFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    width: 100vw;
    background: linear-gradient(256.14deg, #064BB5 0%, #000000 97.55%);
}

body {
    overflow-x: hidden;
}

.wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    position: relative;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    background: transparent;
    height: 100vh;
}

.description {
    display: flex;
    flex-flow: column;
    gap: 54px;
    width: 600px;
}

.description__header {
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.description__subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
}

.app-logo {
    display: flex;
}

.description__list {
    list-style-type: disc;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
    margin-left: 50px;
}

.list__item {
    position: relative;
}

.list__item p {
    position: absolute;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 1.5rem;
}

.app_img {
    border-radius: 10px;
    width: 700px;
    height: 700px;
    display: block;
    transform: skew(-15deg);
    box-shadow: 4px 4px 18px 35px rgba(15, 32, 42, 0.2);
}

.description__anchor {
    width: max-content;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #fe7e91;
    border-radius: 0.6em;
    color: #fe7e91;
}

.description__anchor:hover, .description__anchor:focus {
    color: #fff;
    outline: 0;
}

.description__anchor {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.description__anchor:hover {
    box-shadow: 0 0 40px 40px #fe7e91 inset;
}

.description__goto {
    font-size: 2rem;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        flex-flow: column;
        gap: 30px;
        align-items: center;
        height: max-content;
    }

    .app_img {
        transform: skew(0);
    }

    .description {
        align-items: center;
        width: auto;
    }

    .list__item p {
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        flex-flow: column;
        gap: 30px;
        align-items: center;
        height: max-content;
    }

    .app_img {
        width: 500px;
        height: 500px;
    }

    .description__header {
        font-size: 2rem;
    }

    .description__subtitle {
        font-size: 1.5rem;
    }

    .list__item p {
        font-size: 1rem;
    }

    .description__goto {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .wrapper {
        flex-flow: column;
        gap: 30px;
        align-items: center;
        height: max-content;
    }

    .app_img {
        width: 300px;
        height: 300px;
    }

    .description__header {
        font-size: 2rem;
    }

    .description__subtitle {
        font-size: 1.5rem;
    }

    .list__item p {
        font-size: 1rem;
    }

    .description__goto {
        font-size: 1.5rem;
    }
}
